@{
    ViewData["Title"] = "首頁";
    string loginText = (SessionService.IsLogin) ? "登出系統" : "登入系統";
    string loginClass = (SessionService.IsLogin) ? "fas fa-sign-out-alt pe-1 fa-lg" : "fas fa-sign-in-alt pe-1 fa-lg";
    string userInfo = (SessionService.IsLogin) ? "登入者：" + SessionService.UserNo + " " + SessionService.UserName : "遊客";
    string appInfo = $"{AppService.AppName}";
    string cardSizeClass = (string.IsNullOrEmpty(SessionService.CardSize)) ? "card-size-max" : SessionService.CardSize;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@appInfo</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/jqueryui/themes/base/jquery-ui.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-icons/font/bootstrap-icons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/toastr.js/toastr.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/datepicker/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/datepicker/timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/css/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/flag-icons/css/flag-icons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-select/css/bootstrap-select.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/sweetalert2/sweetalert2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/dashboard.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    @await RenderSectionAsync("Styles", required: false)
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/jqueryui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/lib/toastr.js/toastr.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
</head>

<body>
    <header class="navbar navbar-light sticky-top bg-success flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0" href="@Url.Action("Index", "Home", new { area = "" })">
            <table>
                <tr>
                    <td class="text-white" style="background-color:transparent;">
                        <img src="@Url.Content("~/images/Official/logo.jpg")" alt="科達製藥"
                            class="d-inline-block align-text-top" style="max-width:64px;" />
                    </td>
                    <td class="pt-2 ps-2 fs-5 text-white" style="background-color:transparent;">@appInfo
                    </td>
                </tr>
            </table>
        </a>
        <div class="float-start">
            @using (Html.BeginForm(ActionService.Search, ActionService.Home, new { area = ActionService.Area },
                        FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>
                            <span class="form-label text-white fs-3">溯源碼：</span>
                        </td>
                        <td>
                            <input id="SearchText" name="SearchText" class="form-control" type="text" placeholder="請輸入溯源碼"
                                aria-label="Search" style="width: 300px" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-outline-light" value="查詢" />
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "User", new { area = "" })">
                                <img src="@Url.Content("~/images/Official/member_login.png")" alt="會員登入"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Map", "Home", new { area = "" })">
                                <img src="@Url.Content("~/images/Official/default_map.png")" alt="產地地圖"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Video", "Home", new { area = "" })">
                                <img src="@Url.Content("~/images/Official/default_video.png")" alt="栽種影片"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Flow", "Home", new { area = "" })">
                                <img src="@Url.Content("~/images/Official/default_flow.png")" alt="履歷流程"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Item", "Home", new { area = "", id = "A" })">
                                <img src="@Url.Content("~/images/Official/default_item.png")" alt="藥材簡介"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Food", "Home", new { area = "", id = "A" })">
                                <img src="@Url.Content("~/images/Official/default_food.png")" alt="藥材食譜"
                                    class="img-fluid" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Tester", "Home", new { area = "" })">
                                <img src="@Url.Content("~/images/Official/default_tester.png")" alt="檢驗中心"
                                    class="img-fluid" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
    @await Html.PartialAsync("_PartialAlertMessage")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>