@model herbstracing.Models.z_sys_program

@{
    string str_command = (string.IsNullOrEmpty(Model.rowid) || Model.rowid == "0") ? "新增" : "修改";
    ViewData["Title"] = $"系統模組資料{str_command}";
    Layout = "_LayoutAdmin";
    using var module = new sql_z_sys_module();
    var moduleList = module.GetDropDownList(true);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal  mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.rowid)
        @Html.HiddenFor(model => model.prgcode)
        @Html.HiddenFor(model => model.urlpath)
        @Html.HiddenFor(model => model.urlpage)

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.is_enabled, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.is_enabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.is_enabled, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.module_name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.moduleno, moduleList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.moduleno, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.msort, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.msort, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.msort, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.mno, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mno, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.mname, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mname, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_PartialSubmit")
}