@model herbstracing.Models.z_qcm_environment

@{
    string str_command = (string.IsNullOrEmpty(Model.rowid) || Model.rowid == "0") ? "新增" : "修改";
    ViewData["Title"] = $"產地土壤檢驗記錄資料{str_command}";
    Layout = "_LayoutAdmin";
    using var vendorModel = new sql_z_bas_vendor();
    using var placeModel = new sql_z_bas_place();
    using var listData = new ListItemData();
    var userList = vendorModel.GetDropDownList(true);
    var placeList = placeModel.GetDropDownList(true);
    var codeList = listData.TestCodeList();
    var resultList = listData.TestResultList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal  mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.rowid)
        @Html.HiddenFor(model => model.mcode)

        <div class="row form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.mdate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mdate, new { htmlAttributes = new { @class = "form-control datepicker" , @type="text"}  })
            @Html.ValidationMessageFor(model => model.mdate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.mno, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mno, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.user_no, userList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.user_no, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.place_name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.place_no, placeList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.place_no, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.lot_no, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.lot_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lot_no, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.sdate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sdate, new { htmlAttributes = new { @class = "form-control datepicker" , @type="text"} })
                @Html.ValidationMessageFor(model => model.sdate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.remark, resultList, new { @class = "form-control selectpicker", @data_live_search = "false" })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_PartialSubmit")
}