@model IEnumerable<herbstracing.Models.z_bas_record>

@{
    ViewData["Title"] = "產地水質檢驗記錄列表";
    Layout = "_LayoutAdmin";
}

@await Html.PartialAsync("_PartialHeader")
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.vender_no)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.vender_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.place_no)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.place_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.item_no)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.item_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.lot_no)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.remark)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                ActionService.RowId = $"{item.vender_no},{item.place_no},{item.item_no},{item.lot_no}";
                <tr>
                    <td>
                        @Html.ActionLink("種植記錄",ActionService.Detail, ActionService.Controller,
                            new { area = ActionService.Area , id = ActionService.RowId } , new { @class = "btn btn-success" } )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vender_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vender_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.place_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.place_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lot_no)
                    </td>
                    <td class="table-wrap">
                        @Html.DisplayFor(modelItem => item.remark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>