@model IEnumerable<herbstracing.Models.z_bas_item>

@{
    ViewData["Title"] = "料品主檔資料列表";
    Layout = "_LayoutAdmin";
}

@await Html.PartialAsync("_PartialHeader")
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>
                    @await Html.PartialAsync("_PartialCreate")
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mcode_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mno)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mname)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mename)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.munit)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.issale)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mparts)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mplace_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.msource)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mdescribe)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mremark)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                ActionService.RowId = item.rowid;
                ActionService.RowData = $"{item.mno}";
                <tr>
                    <td>
                        @await Html.PartialAsync("_PartialEdit")
                        @await Html.PartialAsync("_PartialDelete")
                        @Html.ActionLink("組成",ActionService.Init, "BASP006A", new { area = ActionService.Area , id = item.mno} , new { @class = "btn btn-success" } )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mcode_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.munit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.issale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mparts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mplace_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.msource)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mdescribe)
                    </td>
                    <td class="table-wrap">
                        @Html.DisplayFor(modelItem => item.mremark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>