@model IEnumerable<herbstracing.Models.z_bas_vendor>

@{
    ViewData["Title"] = "農戶基本資料列表";
    Layout = "_LayoutAdmin";
}

@await Html.PartialAsync("_PartialHeader")
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mno)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mname)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.cdate)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.adate)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.msex_name)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mtel)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mfax)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.mmobil)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.maddress)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.memail)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.remark)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                ActionService.RowId = item.rowid;
                ActionService.RowData = $"{item.mno} {item.mname}";
                <tr>
                    <td>
                        @Html.ActionLink("合約",ActionService.Select, ActionService.Controller, new { area = ActionService.Area , id = item.mno} , new { @class = "btn btn-success" } )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.adate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.msex_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mtel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mfax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mmobil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memail)
                    </td>
                    <td class="table-wrap">
                        @Html.DisplayFor(modelItem => item.remark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>